@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* ============================ form ================================= */
body {
  margin: 0;
  padding: 0;
  background:linear-gradient( 64.3deg,  rgba(254,122,152,0.81) 17.7%, rgba(255,206,134,1) 64.7%, rgba(172,253,163,0.64) 112.1% );;
  font-family: "Poppins", sans-serif;
}
#leaf{
  width: 2rem;
height: auto;
padding: 0px 10px 0px 15px;
}
header p{
  background-color: rgba(255, 206, 134, 0.9);
  color: #4fb23be6;
  font-size: 2.3rem;
  padding: 10px 20px;
  border-radius: 40px;
  margin: auto;
  margin-top: 20px;
}

header{
  display: flex;
}
div {
  margin-bottom: 20px;
}
h1 {
  color: black;
  text-align: center;
  font-size: 3rem;
  border-radius: 50px;
  padding: 10px;
  margin-top: 0;
}
form,
section {
  width: 70%;
  margin: 20px auto 20px auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 40px;
  font-size: .6rem;
}
input[type="radio"] {
  margin-right: 40px;
}
table,
td,
th {
  border: 2px solid whitesmoke;
}
table {
  border-collapse: collapse;
  border-radius: 2em;
  overflow: hidden;
  font-size: .8rem;
  width: 100%;
}
td,
th {
  width: 10%;
  height: 40px;
}
th {
  border: 2px solid whitesmoke;
  background-color: rgba(255, 151, 175, 0.81);
  color: #7a2626;
}
td {
  background-color: rgba(255, 206, 134, 0.73);
  text-align: center;
}


input[type="text"],
input[type="number"],
input[type="date"] {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  width: 95%;

}
select,
option {
  width: 97.5%;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  padding: 10px;
  background-color: white;
}

#lastdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: white;
  width: 95%;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
  flex-direction: row;
  margin: 0;
}
label {
  font-size: 1rem;
}

/* ============= errors ==================== */

.input-control.success input {
  border: 2px solid #355c7d;
  box-shadow: 10px 5px 5px #355c7d;
}
.input-control.error input {
  border: 2px solid #c06c84;
  box-shadow: 10px 5px 5px #c06c84;
}
.input-control .error {
  padding: 5px;
  color: #c06c84;
  font-size: .6rem;
  height: 20px;
}
#save, #add{
  display: none;
}
.error_discount{
  padding: 5px;
  color: #c06c84;
  font-size: .6rem;
  height: 20px;
}
input:focus {
  outline: 0;
}
/* ================= errors ================== */

/* ================== icons ================== */

i {
  padding-left: 1%;
  font-size: 1.2rem;
}
i{
  color: #c06c84;
}
i:hover {
  color: #f0f0f0;
}
.fa-trash{
  color: rgb(255, 78, 78);
}
.fa-circle-info{
  color: #355c7d;
}
.fa-edit{
  color: #0086fb;
}
/* ================== icons ================== */


/* ============================= buttons ========================= */

input[type="button"] {
  background-color: rgba(255, 151, 175, 0.81);
  box-shadow: 0 5px #869FB3;
  border-radius: 40px;
  text-align: center;
  font-size: 1.5rem;
  color: #7a2626;
  padding: 10px;
  border: none;
  width: 12rem;
  display: block;
  margin: auto;
}
input[type="button"]:hover {
  opacity: .83;
}
input[type="button"]:active {
  opacity: .6;
  transform: translateY(2px);
}

/* ============================= buttons ========================= */

/* ============================ form ================================= */

/* ============================= modals ========================= */
#md {
  display: none;
}
.cancelbtn {
background-color: #a394af;
height: 48px;
padding: 0 24px 0 16px;
letter-spacing: .25px;
border-radius: 24px;
cursor: pointer;
color: whitesmoke;
}
.close{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 15px;
  cursor: pointer;
}
.deletebtn {
  background-color: #ba4646;
  height: 48px;
  padding: 0 24px 0 16px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;
  color: whitesmoke;
}
.modal-content, .content{
  display: block;
  margin: auto;
  padding: 16px;
  text-align: center;
  background-color: whitesmoke;
  width: 50%;
  border-radius: 30px;
  margin-bottom: 30px;
}

.modal h2{
  font-size: 2rem;
}
.modal p{
  font-size: 1rem;
}
.modal, .product_info{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
#message span{
  line-height: 2.5;
  font-size: 1.2rem;
  word-spacing: 10px;
}
#message{
  text-align: start;
  margin-left: 38%;
}
/* ============================= modals ========================= */